{% extends 'layout.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row">
  <div class="row">
    <div class="col-md-12">
      <h2>Select date range for invoice</h2>
    </div>
  </div>
  <div class="row">
    <div id="litepicker" class="col-md-12"></div>
    <button id="filter-by-date" class="btn btn-outline-info">Filter by date</button>
  </div>
</div>
<div class="table-row row justify-content-center">
  <div class="col-sm-12">
    <table class="table table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th>
            <input class="checkbox invoice-main-checkbox" type="checkbox" value="" />
          </th>
          <th></th>
          <th>Company name</th>
          <th>Billable hours</th>
          <th>Non billable hours</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="">
        {% for company in invoice_data.values() %}
        {% if company.tasks %}
        <tr>
          <td>
            <input class="checkbox invoice-checkbox" type="checkbox" value="" id="flexCheckDefault" />
          </td>
          <td class="collapse-toggle" data-bs-toggle="collapse" data-bs-target="#collapseExample{{ loop.index }}">
            <div>
              <i class="bi bi-caret-down-fill"></i>
            </div>
          </td>
          <td class="collapse-toggle" data-bs-toggle="collapse" data-bs-target="#collapseExample{{ loop.index }}">
            {{company.name}}
          </td>
          <td class="collapse-toggle" data-bs-toggle="collapse" data-bs-target="#collapseExample{{ loop.index }}">
            {{company.billable|strftime}}
          </td>
          <td class="collapse-toggle" data-bs-toggle="collapse" data-bs-target="#collapseExample{{ loop.index }}">
            {{company.non_billable|strftime}}
          </td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown">
                Invoice action
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="#">Prześlij fakturę na maila PMa</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Prześlij fakturę do klienta</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Wystaw fakturę za ten okres</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <tr class="not-hover">
          <td colspan="2" class="hidden-row not-hover"></td>
          <td colspan="4" class="hidden-row not-hover">
            <div class="collapse" id="collapseExample{{ loop.index }}">
              <table class="table table-hover table-secondary align-middle">
                <thead class="">
                  <th>Task name</th>
                  <th>Owner</th>
                  <th>Billable hours</th>
                  <th>Non billable hours</th>
                </thead>
                <tbody>
                  {% for task in company.tasks %}
                  <tr>
                    <td>{{task.task.name}}</td>
                    <td>{{task.user.name}}</td>
                    {% if task.billable %}
                    <td>{{task.duration|strftime}}</td>
                    <td>0</td>
                    {% else %}
                    <td>0</td>
                    <td>{{task.duration|strftime}}</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row justify-content-center position-fixed d-none" id="invoice-button-panel">
  <div class="col-md-8 btn-group">
    <button class="btn btn-primary">Prześlij faktury na maila PMa</button><button class="btn btn-warning">Prześlij
      faktury do klienta</button><button class="btn btn-success">Wystaw faktury za ten okres</button>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock content %}