{% extends 'layout.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row">
  <div class="row">
    <div class="col-md-12">
      <h2>Select date range for invoice</h2>
    </div>
  </div>
  <div class="row">
    <div id="litepicker" class="col-md-12"></div>
    <button id="filter-by-date" class="btn btn-outline-info">Filter by date</button>
  </div>
</div>
<div class="table-row row justify-content-center">
  <div class="col-sm-12">
    <table class="table table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th>
            <input class="checkbox invoice-checkbox invoice-main-checkbox" type="checkbox" value="" />
          </th>
          <th></th>
          <th>Company name</th>
          <th>Billable hours</th>
          <th>Non billable hours</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="">
        {% for company in invoice_data.values() %}
        {% set outer_loop = loop %}
        {% if company.tasks %}
        <tr class="company" id="company-{{ loop.index }}">
          <td>
            <input class="checkbox invoice-checkbox" type="checkbox" value="" id="flexCheckDefault" />
          </td>
          <td class="collapse-toggle" data-bs-toggle="collapse" data-bs-target="#collapseExample{{ loop.index }}">
            <div>
              <i class="bi bi-caret-down-fill"></i>
            </div>
          </td>
          <td class="collapse-toggle company-name" data-bs-toggle="collapse"
            data-bs-target="#collapseExample{{ loop.index }}">
            {{company.name}}
          </td>
          <td class="collapse-toggle company-billable" data-time="{{ company.billable }}" data-bs-toggle="collapse"
            data-bs-target="#collapseExample{{ loop.index }}">
            {{company.billable|strftime}}
          </td>
          <td class="collapse-toggle company-non-billable" data-time="{{ company.non_billable }}"
            data-bs-toggle="collapse" data-bs-target="#collapseExample{{ loop.index }}">
            {{company.non_billable|strftime}}
          </td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown">
                Invoice action
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li class="send-mail-button">
                  <button class="dropdown-item mail-sender mail-sender-{{ loop.index }}">Prześlij fakturę na maila
                    PMa</button>
                </li>
                <li class="send-mail-button">
                  <button class="dropdown-item mail-sender mail-sender-{{ loop.index }}">Prześlij fakturę do
                    klienta</button>
                </li>
                <li class="send-mail-button">
                  <button class="dropdown-item mail-sender mail-sender-{{ loop.index }}">Wystaw fakturę za ten
                    okres</button>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <tr class="not-hover">
          <td colspan="2" class="hidden-row not-hover"></td>
          <td colspan="4" class="hidden-row not-hover">
            <div class="collapse" id="collapseExample{{ loop.index }}">
              <table class="table table-hover table-secondary align-middle tasks-{{ loop.index }}">
                <thead class="">
                  <th><input class="checkbox task-main-checkbox task-main-checkbox-{{ outer_loop.index }}"
                      type="checkbox" value="" id="flexCheckDefault" checked /></th>
                  <th>Task name</th>
                  <th>Owner</th>
                  <th>Billable hours</th>
                  <th>Non billable hours</th>
                </thead>
                <tbody>
                  {% for task in company.tasks %}
                  <tr class="task">
                    <td><input class="checkbox task-checkbox-{{ outer_loop.index }}" type="checkbox" value=""
                        id="flexCheckDefault" checked />
                    </td>
                    <td class="task-name">{{task.task.name}}</td>
                    <td class="task-user">{{task.user.name}}</td>
                    {% if task.billable %}
                    <td class="task-billable" data-time="{{ task.duration }}">{{task.duration|strftime}}</td>
                    <td class="task-non-billable" data-time="{{ 0 }}">0</td>
                    {% else %}
                    <td class="task-billable" data-time="{{ 0 }}">0</td>
                    <td class="task-non-billable" data-time="{{ task.duration }}">{{task.duration|strftime}}</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row justify-content-center position-fixed d-none" id="invoice-button-panel">
  <div class="col-md-8 btn-group">
    <button class="btn btn-primary">Prześlij faktury na maila PMa</button><button class="btn btn-warning">Prześlij
      faktury do klienta</button><button class="btn btn-success">Wystaw faktury za ten okres</button>
  </div>
</div>
<div class="modal" id="mail-display">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Task report</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="mail-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary send-mail">Send Email</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>
{% endblock content %}