{% extends "layout.html" %} {% block content %}
<div class="row justify-content-center">
{% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{category}} alert-dismissible fade show"
        role="alert"
      >
        {{message}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
  <div class="col-lg-6 content-section">
    <form action="/login" method="post">
      {{form.hidden_tag()}}
      <fieldset class="">
        <legend class="border-bottom mb-4">Log in</legend>
        <div class="mb-4">
          {{form.username.label(class="form-control=label")}}
          {{form.username(class="form-control form-control-lg")}}
        </div>
        <div class="mb-4">
          {{form.password.label(class="form-control=label")}}
          {{form.password(class="form-control form-control-lg")}}
        </div>
      </fieldset>
      <div class="">{{form.submit(class="btn btn-outline-info")}}</div>
    </form>
  </div>
</div>
{% endblock content %}
