<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  {% if view_only != True %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  {% endif %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/mail.css", _external=True) }}">
</head>

<body class="container" id="mail-body">
  <header class="row">
    {% set bootstrap_col = 'col-xs-' %}
    {% if view_only %}
    {% set bootstrap_col = 'col-sm-' %}
    {% endif %}
    <img class="logo {{ bootstrap_col }}3" src="https://blueowl.pl/static/882db3adbda02abc0d3ddf37581c5b11/logo.png"
      alt="" srcset="">
    <div class="{{ bootstrap_col }}8">
      <div class="row justify-content-end">
        <ul class="{{ bootstrap_col }}4 project-data">
          <li>Project name</li>
          <li>Project manager name</li>
        </ul>
        <ul class="{{ bootstrap_col }}4 project-data">
          <li>Company name</li>
          <li>Company NIP</li>
          <li>Company addres 1</li>
          <li>Company address 2</li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    <h1>Raport from {{ data.date_start|date_pretty }} to {{ data.date_end|date_pretty }}</h1>
    <table class="table table-stripped">
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Billable hours</th>
      </thead>
      <tbody>
        {% for task in data.tasks %}
        {% if task.billable != "0" %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.assignee }}</td>
          <td>{{ task.billable|strftime }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <td>{{ data.billable|strftime }}</td>
        </tr>
      </tfoot>
    </table>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, quasi dignissimos vitae dolore a odit
      recusandae soluta, temporibus ducimus quos iusto placeat incidunt, enim pariatur cumque ipsa repellat veritatis
      vero?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque numquam iure officia id nisi? Alias deserunt sunt
      quisquam ab minima autem, asperiores cum nulla beatae atque error velit itaque. Ab.</p>
  </main>
</body>

</html>